parameters:
    excludePaths:
    - src/Middlewares/HandleInertiaRequests.php
    - src/Seeder/*.php

    ignoreErrors:
    - '#Static method Inertia\\[a-zA-Z0-9-()\_]+::[a-zA-Z0-9-()\_]+ invoked with 3 parameters, 1-2 required+.#'

